<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-card>

        <img src="assets\prods.png" />
        <ion-card-header>
          <ion-card-title>PRODUCTOS</ion-card-title>
        </ion-card-header>
           </ion-card>

      
      <ion-card>
        <img src="assets\catgs.jpg" />
        <ion-card-header>
          <ion-card-title>CATEGORIAS</ion-card-title>
        </ion-card-header>
       
      </ion-card>

       <ion-card>
        <img src="assets\mcs.jpg" />
        <ion-card-header>
          <ion-card-title>MARCAS</ion-card-title>
        </ion-card-header>
      </ion-card>

</ion-content>
